---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import { getCollection } from 'astro:content';

const projectEntries = await getCollection('projects');
---

<Layout title="projects">
	<Sidebar />
	<div class="w-3/4 space-y-8">
		{
			projectEntries.map(projectEntry => (
				<div>
					<div class="flex justify-between">
						<a 
							href={projectEntry.data.href}
							target="_blank"
							class="hover:underline font-medium"
						>
							{projectEntry.data.title}
						</a>
						<p>{projectEntry.data.location}</p>
					</div>
					<div class="flex justify-between mb-2">
						<p>{projectEntry.data.employer}</p>
						<p>{projectEntry.data.date}</p>
					</div>
					{
						projectEntry.data.bullets.map(bullet => (
							<div class="flex">
								<p class="pr-2">-</p>
								<p class="text-sm">
									{bullet}
								</p>
							</div>
						))
					}
				</div>
			))
		}
	</div>
</Layout>
